.project
.classpath
bin
obj
target
.settings
.metadata
.externalToolBuilders
.recommenders
[~]*.docx
[~]*.xlsx
[~]*.doc
[~]*.xls
*.orig
.svn
*.ldb
*.bak
**/libs/*/*.so
00_Source/generated/*
PROCESSED_*
build
*.versionsBackup
.sonar_lock
.sonarlint
froccsFM.db