
html
{
}
body
{
	background: black url('../images/cat.png') no-repeat -300px 0px;
	color: #39b5c9;	
}

h1
{
	font-size: 40px;
	color: #6cff00;
	padding-bottom: 20px;
}

.container
{
	background: rgba(0, 0, 0, 0.8);
}

.order
{
	height: 100px;
	font-size: 34px;
	vertical-align: bottom;
}

.vip
{
	color: red !important;
}

.orderNo
{
	color: #6cff00;
	font-size: 12px;
	text-align: center;
}
.orderNo p
{
	font-size: 60px;
	margin: 0px;
	padding: 0px;
	line-height: 60px;
}
.orderNo a
{
	color: inherit;
}

.amount
{
	padding-top: 10px;
}

.orderName
{
	padding-top: 10px;
}

.customerName
{
	padding-top: 10px;
}

.ordering .btn
{
	margin-bottom: 5px;
}

/*
	Animation
*/
.animate-repeat 
{
}

.animate-repeat.ng-move,
.animate-repeat.ng-enter,
.animate-repeat.ng-leave 
{
  -webkit-transition: all linear 0.5s;
  transition: all linear 0.5s;
      position: relative;
    display: block;
}

.animate-repeat.ng-leave.ng-leave-active
{
  opacity:0;
}
.animate-repeat.ng-enter
{
	display: none;
}

.animate-repeat.ng-leave,
.animate-repeat.ng-enter.ng-enter-active 
{
  opacity:1;
}