

/*
	Animation
*/
.animate-repeat 
{
}

.animate-repeat.ng-move,
.animate-repeat.ng-enter,
.animate-repeat.ng-leave 
{
  -webkit-transition: all linear 0.2s;
  transition: all linear 0.2s;
      position: relative;
    display: block;
}

.animate-repeat.ng-leave.ng-leave-active
{
  opacity:0;
}
.animate-repeat.ng-enter
{
	display: none;
}

.animate-repeat.ng-leave,
.animate-repeat.ng-enter.ng-enter-active 
{
  opacity:1;
}